@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

h2 {
  font-size: 1.85rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

@layer base {
  html {
  /* --color-primary: #4285f4;
  --color-secondary: #34a853;
  --color-tabs: #F2FED1;
  --color-buttons: #F2FED1;
  --color-toggle: blue;
  --color-typography: #000000;
  --color-bg-sidebar: #F3F3F3;
  --color-bg-prim: #ffffff;
  --color-bg-card: #F2FED1;

  --secondary: rgba(0, 0, 0, 0.72);
  --text-color: #2b2b2b;
  --primary: #dcacff;
  --light-grey: #fafafa;
  --white-color: #fff;
  --misty-rose: #ffdede;
  --light-blue-bg: #f8f8fa;
  --dim-grey: #c5c5c5;
  --link-bg-grey: #f1f1f1;
  --notification-bg: #001b38;
  --bg-grey: #d4d4d4;
  --background-box-color: #292b2c;

  --border-primary: rgba(168, 255, 37, 0.72); */
  /* --border-primary: #5C4ACC; */


  --color-primary: #f4cc70;

    --color-bg-sidebar: #272727;
    --color-bg-prim: #000000;
    --color-bg-card: #404040;

    --color-tabs: #404040;
    --color-secondary: #6ab187;
    --color-buttons: #2a1e13;
    --color-buttons-hover: #de7a22;
    --color-typography: #ffffff;

    --secondary: rgba(173, 104, 243, .72);
    --text-color: #2b2b2b;
    --primary: #dcacff;
    --light-grey: #fafafa;
    --white-color: #fff;
    --misty-rose: #ffdede;
    --light-blue-bg: #f8f8fa;
    --dim-grey: #c5c5c5;
    --link-bg-grey: #f1f1f1;
    --notification-bg: #001b38;
    --bg-grey: #d4d4d4;
    --background-box-color: #292b2c;

    --border-primary: rgba(173, 104, 243, .72);


  }
  @import "../styles//themes/custom.css";

}